.generic-page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;

  .body {
    flex-grow: 1;
    background-color: black;
    color: white;

    > div{
      padding: 1em;
      @media #{$tablet, $mobile} {
        clear: both;
      }
    }

    img.cover {
      width: 50%;
      float: left;
      padding-right: 1em;
      @media #{$tablet, $mobile} {
        width: 100%;
        float: left;
        padding-right: 0;
      }
    }

    ul,
    ol,
    p,
    h1,
    h2,
    h3,
    a {
      padding-bottom: 0.5em;
    }

    ul,
    ol {
      padding-left: 1em;
      display: inline-block;
    }

    h1 {
      font-size: 3em;
    }
    h2 {
      font-size: 2em;
    }
    h3 {
      font-size: 1.5em;
    }
  }

  .titleContiner {
    padding: 3em 0.5em 2.5em;

    h2 {
      display: block;
      text-align: center;
      border-bottom: 1px solid #b2bec5;
      line-height: 0.1em;
      span {
        background-color: white;
        font-size: 1.2em;
        padding: 0.5em 1.2em;
      }
    }
  }
}
