.info-banner {
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    justify-content: space-between;
    .cover-image {
        border: 3px solid #ccc;
        height: 10rem;
        width: 10rem;
    }
    .header-info {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
}