.bio-container {
    height: 100vh;
}
.recipient-bio {
    height: 90%;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    padding: 2rem;
    padding-top: 0;
    justify-content: space-between;
    .bio-section {
        display: flex;
        overflow: scroll;
        height: 40%;
    }
}