.start {

}

.background {
  display: flex;
  flex-flow: column wrap;
  height: 100vh;
  .body-container {
    flex-grow: 1;
    padding: 0 1rem;
    flex-direction: column;
    width: 100%;
  }
  .header-info{
    flex-grow: 1;
  }
}

.pot-btn {
  margin: 1rem 0!important;
}

.pot-container {
  flex-grow: 1;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: space-around;
}