.button {
  padding: 0.6em 3em 0.6em !important;
  border-radius: 2em !important;
  box-shadow: none !important;
  border: solid 3px white !important;
  background: transparent!important;

a {
  text-decoration: none;
}

.grey-button {
  @extend .button;
  background-color: white !important;
  color: grey !important;
  border-color: grey!important;
  text-align: center !important;
  text-decoration: none !important;
  width: 100% !important;
  margin-bottom: 1em !important;
}

.white-button-pink-background {
  @extend .button;
  background-color: #f67979 !important;
  color: white !important;
  margin: 0 0.5em 1.1em !important;
  text-decoration: none !important;
}

.transparent-btn-white-outline {
  @extend .button;
  background: transparent!important;
  color: #fff;

}

h1.header-text {
  padding-top: 1.5em;
  display: flex;
  color: white;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  > span {
    font-size: 0.7em;
    font-weight: 100;
    margin-top: -15px;
  }
}

.thin-header {
  height: 50px;
  widows: 100%;
  background-color: #f67979;
}

.makeStyles-margin-10 input.MuiInput-input {
  width: calc(100vw - 5em)!important;
}

.makeStyles-margin-16, .makeStyles-margin-10 {
  overflow: hidden;
}
}